div.centered {
    width: 50%;
    height: 50%;
    text-align: center;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fight-image {
    border-radius: 5px;
    padding: 10px;
    width: 125px;
    height: 120px;
    display: inline-block;
    margin-top: 30px;
}

body {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-font-smoothing: antialiased;
}

.users-container {
    margin-top: 20px;
}

.regular {
    font-size: 14px;
}

.clear {
    clear: both;
}

.left-user {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.middle-align {
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
}

.image img {
    border-radius: 50px;
}

.container {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-font-smoothing: antialiased;
}