.weight-600 {
    font-weight: 600;
}

.dark {
    color: #46535e;
}
.large {
    font-size: 16px;
}
.smallest {
    font-size: 8px;
}

.light {
    color: #9ca3a8;
}
.caps {
    text-transform: uppercase;
}
.align-left{
    text-align: left;
}
.less-margin-left{
margin-right: 5px;
} .less-margin-right{
    margin-left: 5px;
}