.weight-600 {
    font-weight: 600;
}

.dark {
    color: #46535e;
}
.large {
    font-size: 16px;
}
.smallest {
    font-size: 8px;
}

.light {
    color: #9ca3a8;
}
.caps {
    text-transform: uppercase;
}