.tab-underline-container-modern {
    height: 40px;
    margin-bottom: 30px;
}
.tab-underline-blue.tab-gray-background .tab .tab-name.selected {
    background: #4c9cdf;
    border-bottom: 0;
    position: relative;
}

.tab {
    position: relative;
    float: left;
    cursor: pointer;
}

.tab-underline-blue .tab .tab-name {
    padding: 10px;
    margin-left: 0;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
}

.tab .tab-name.selected:after {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #4c9cdf;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -12px;
}